*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
    font-family: 'Zilla Slab', serif;
    font-size: 16px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient( #16a085 , #1abc9c,#16a085);
    
}
.wrapper {
    height: 100%;
    width: 100%;        
}

.main-container{
    background-color: rgba(26, 188, 156,1.0);
    height: 320px;
    width: 420px;
    border: 1px solid #117c67;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(22, 160, 133,1.0);
}

#user_input{
    height: 20%;
    width: 75%;
    font-size: 1.5rem;
    border: 0;
    border-radius: 5px;
    padding-left: 15px;
}



.option__wrapper{
    height: 20%;
    width: 75%;
    justify-content: space-between;
    font-size: 1.125rem;
}

.option__wrapper #math_function{
    width: 40%;
    border: 0;
    border-radius: 5px;
    font-size: 1.125rem;
}

.option__wrapper #math_function:focus{
    background-color: #fff;
    color: #000;
    outline: none;
}



#result{
    height: 20%;
    width: 20%;
}

option{
    outline: none;
}

#check{    
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
    border: 1px solid rgb(26, 71, 26);
    border-radius: 5px;
    background-color: #009432;
    color: white;
    margin: 5px;
}



#check:active{
    transform: scale(0.98);
}

.reset_wrapper{
    width: 75%;
    justify-content: flex-end;
}

#reset{
    height: 12px;
    cursor: pointer;
    padding: 5px;
}

#reset:active{
    transform: scale(0.95);
}

/* media queries */
@media only screen and (max-width: 600px) {
    body {
      font-size: 10px;
    }
    .main-container{
        width: 95%;
        height: 35%;
    }

    .main-container .option__wrapper #check{
        text-align: center;
        margin: 0;
    }
    #check, .option__wrapper #math_function{
        width: 40%;
    }
    .option__wrapper #math_function{
        width: 50%;
        height: 75%;
    }

  }
/* media queries */